meta(property="og:locale" content="es_MX")
meta(property="og:type" content="website")
meta(property="og:title" content="Webpack Dev")
meta(roperty="og:description" content="Environment Dev Webpack., Author: @roremDev")
meta(roperty="og:url" content="https://mexicodesconocido.com.mx/anunciantes/")
meta(roperty="og:site_name" content="Escapadas / Directorio Turístico")
//- meta(roperty="og:image" content="url_de_una_imagen_del_landing")
//- meta(roperty="og:image:secure_url" content="url_de_una_imagen_del_landing")
//- meta(roperty="og:image:width" content="800")
//- meta(roperty="og:image:height" content="800")
//- meta(ame="twitter:card" content="summary_large_image")
meta(ame="twitter:description" content="Atrévete a volver a vivir la aventura, el sitio donde encontrás los mejor)descuentos para tu próximo viaje., Author: @emmanuelG21")
meta(ame="twitter:title" content="Escapadas / Directorio Turístico")
meta(ame="twitter:site" content="@mexdesconocido")
//- meta(ame="twitter:image" content="url_de_una_imagen_del_landing")