doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="Environment Dev Webpack., Author: @roremDev")
        include meta/opengraph.pug
        title Webpack Dev
        link(rel="shortcut icon" type="favicon" href=require("../favicon.ico"))

    body
        block content